#testemonials {
    min-height: 100vh;
}

.testemonials-container {
    padding-top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testemonial_chef {
    height: 700px;
    width: auto;
}

#testemonials_content {
    width: 50%;
}

.feedback-avatar {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
}

.feedback-content p span {
    color: #e9a209;
}

@media screen and (max-width: 1170px) {
    #testemonials {
        min-height: 100vh;
        flex-direction: column;
    }
    
    .testemonials-container {
        padding-top: 96px;
    }

    #testemonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testemonial_chef {
        height: 300px;
    }

    #testemonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {

    #testemonials .section-subtitle {
        text-align: center;
        font-size: 1.6rem;
    }

    #testemonials_content {
        width: 100%;
    }

    .feedback {
        display: flex;
        flex-direction: column;
    }
}